/* NAVIGATION */

.navigation {
  background-color: red;
  color: white;
}

.title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.tabs > a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}


/* BODY */
.search-pokemon {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  color: red;
  text-align: center;
}

#search {
  padding: 1.3rem 1rem;
  font-size: 1.5rem;
}

#submit {
  font-size: 2rem;
  padding: 0.5rem 3rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #007bff;
}

#submit:hover {
  background-color: #49a1ff;
  cursor: pointer;
}

#submit:active {
  background-color: #007bff;
}

.random-container > button {
  background-color: #26a69a;
  color: white;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.random-container > button:hover {
  background-color: #19cebd;
  cursor: pointer;
}

.random-container > button:active {
  background-color: #26a69a;
}
