#modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.no-connection {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.body-container {
  height: 25rem;
}

#incorrect {
  font-size: 1.3rem;
  text-align: center;
}

#empty-notice {
  text-align: center;
  font-weight: 700;
  font-size: 4vw;
}

.header {
  width: 100vw;
  justify-content: space-between;
  margin: 0 1rem;
}

#collection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-box {
  border: white solid;
  background-color: white;
  margin: 0 1rem;
  border-radius: 1rem;
}

.modal-row1 > h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 5vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.modal-options {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1.7rem;
}

.modal-options > button {
  padding: 0.6rem 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
  border-radius: 0.3rem;
  border: none;
  color: white;
}

.cancel {
  background-color: gray;
}

.cancel:hover {
  background-color: rgb(179, 179, 179);
  cursor: pointer;
}

.cancel:active {
  background-color: gray;
}

#confirm {
  background-color: red;
}

#confirm:hover {
  background-color: rgb(253, 89, 89);
  cursor: pointer;
}

#confirm:active {
  background-color: red;
}

.navigation {
  background-color: red;
  color: white;
}

.title {
  font-size: 7vw;
  font-family: 'Pokemon', sans-serif;
  color: white;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.collection-options > a {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.remove {
  border: 0.2vw solid red;
  color: red;
  border-radius: 0.4rem;
  background-color: white;
  padding: 0.5rem 1rem;
}

.remove:hover {
  color: white;
  background-color: red;
}

.remove:active {
  color: white;
  background-color: rgba(194, 0, 0, 0.781);
}

.red {
  background-color: red;
  color: white;
}

.tabs {
  flex-direction: column;
  gap: 0;
  padding-right: 10vw;
}

.tabs > a {
  font-size: 5vw;
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.tabs > a:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.collection-link:hover {
  cursor: pointer;
}

.search-pokemon {
  font-family: "Roboto", sans-serif;
  font-size: 10vw;
  color: red;
  text-align: center;
  margin-block-end: 0;
}

#search-box {
  width: 90vw;
  border: solid;
  padding: 0.5rem;
}

#submit {
  font-size: 5vw;
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #007bff;
}

#submit:hover {
  background-color: #49a1ff;
  cursor: pointer;
}

#submit:active {
  background-color: #007bff;
}

.random-container > button {
  background-color: #26a69a;
  color: white;
  font-size: 5vw;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  margin-top: 0;
}

.random-container > button:hover {
  background-color: #19cebd;
  cursor: pointer;
}

.random-container > button:active {
  background-color: #26a69a;
}

.notification > p {
  color: red;
  font-family: "Roboto", sans-serif;
}

#total-mobile {
  display: flex;
  margin-top: 0;
  font-size: 4vw;
}

#total-desktop {
  display: none;
}

ul {
  list-style: none;
}

.result-image {
  width: 50vw;
  border: black solid;
}

.result-title {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}

.stats-title > p {
  font-family: "Roboto", sans-serif;
  border: solid red;
  padding: 1vw 3vw;
  margin-left: 2.5rem;
  background-color: red;
  color: white;
  font-size: 4vw;
  margin-top: 2rem;
}

.stats {
  margin-top: 1rem;
  line-height: 1.3rem;
}

.stats > p {
  font-family: "Roboto", sans-serif;
  margin-right: 2rem;
  font-size: 4vw;
  font-weight: 400;
  padding-left: 6vw;
}

.add {
  font-family: "Roboto", sans-serif;
  background-color: #26a69a;
  color: white;
  font-size: 4vw;
  padding: 4vw;
  border: none;
}

.add:hover {
  background-color: #19cebd;
  cursor: pointer;
}

.add:active {
  background-color: #26a69a;
}

.collection-options > a:hover {
  cursor: pointer;
}

.search-reset {
  text-decoration: none;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  background-color: red;
  color: white;
  font-size: 4vw;
  padding: 4vw;
  border: none;
  border-radius: 15px;
}

.search-reset:hover {
  background-color: rgb(255, 70, 70);
  cursor: pointer;
}

.search-reset:active {
  background-color: rgb(196, 0, 0);
}

.fa-redo-alt {
  padding-left: 0.5rem;
}

.pokemon-name {
  text-transform: uppercase;
  text-align: center;
  width: 9rem;
  margin: 0 1rem;
}

.collection-header {
  font-family: "Roboto", sans-serif;
  color: red;
  font-size: 1rem;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-bottom: 1rem;
}

.collection-header > h1 {
  font-size: 8vw;
  margin-bottom: 0.3rem;
}

#sort {
  font-size: 5vw;
  padding: 0.3rem 1rem;
  border: solid 1px;
}

#sort:hover {
  cursor: pointer;
}

.collection-box {
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
}

.pokemon-entry {
  flex-basis: 46%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0.3vw solid;
  margin: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.pokemon-entry:hover {
  transform: scale(1.05);
}

.big {
  transform: scale(1.05);
}

.pokemon-entry > h1 {
  border: solid red;
  background-color: red;
  border-radius: 0.2rem;
  color: white;
  padding: 0.4rem 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.collection-image {
  width: 70%;
  margin-top: 1rem;
}

.collection-options {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  margin-bottom: 1rem;
}

#collection-container > p {
  font-family: "Roboto", sans-serif;
}

.sort-option-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 445px) {
  #modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .tabs > a {
    font-size: 1.3rem;
  }

  .collection-options > a {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
  }

  #collection-container a {
    font-size: 1rem;
    padding: 1rem 1.4rem;
  }

  .no-connection {
    font-size: 1.5rem;
  }

  #empty-notice {
    font-size: 1rem;
  }

  .header {
    width: 100vw;
    justify-content: space-between;
    margin: 0 2rem;
  }

  .modal-row1 > h1 {
    font-size: 1.2rem;
  }

  .modal-options > button {
    font-size: 1.3rem;
    border-radius: 0.3rem;
  }

  .pokemon-entry {
    border: 0.3vw solid black;
  }

  .title {
    font-size: 1.6rem;
  }

  .collection-options {
    margin: 2rem 0;
  }

  .result-image {
    width: 14rem;
  }

  .tabs {
    flex-direction: row;
    gap: 2rem;
    padding-right: 0;
  }

  .search-pokemon {
    font-size: 3rem;
  }

  #search-box {
    padding: 0.7rem 1rem;
    font-size: 1.5rem;
    width: 27rem;
  }

  #submit {
    font-size: 1.5rem;
  }

  .random-container > button {
    background-color: #26a69a;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
  }

  .random-container > button:hover {
    background-color: #19cebd;
    cursor: pointer;
  }

  .random-container > button:active {
    background-color: #26a69a;
  }

  #total-mobile {
    font-size: 1.2rem;
  }

  .stats-title > p {
    padding: 0.3rem 0.3rem;
    margin-left: 2.5rem;
    background-color: red;
    color: white;
    font-size: 1.3rem;
    margin-top: 2rem;
  }

  .stats > p {
    padding-left: 2rem;
    font-size: 1.2rem;
  }

  .add {
    font-size: 1.3rem;
    padding: 1rem 1rem;
  }

  .search-reset {
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
  }

  .collection-header > h1 {
    font-size: 2.5rem;
  }

  #sort {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .modal-box {
    height: 16rem;
    width: 42rem;
  }

  .collection-options > a {
    font-size: 1.5rem;
  }

  .tabs > a {
    font-size: 2rem;
    margin-left: 4rem;
  }

  #collection-container a {
    font-size: 1.5rem;
  }

  .modal-row1 > h1 {
    font-size: 2.2rem;
    padding: 1rem 0;
    line-height: 2.5rem;
  }

  .modal-options > button {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }

  .title {
    font-size: 3rem;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
  }

  .search-pokemon {
    font-size: 4rem;
    margin-bottom: 0;
  }

  .body-row2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #submit {
    font-size: 2rem;
  }

  .random-container > button {
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
  }

  #search-box {
    width: 100%;
  }

  #incorrect {
    font-size: 1.3rem;
  }

  .result-image {
    width: 61%;
  }

  .container-flex {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }

  .stat-box {
    display: flex;
    flex-direction: column;
  }

  .stats-title > p {
    margin: 0;
    margin-top: 0.3rem;
    text-align: center;
    padding: 0;
    width: 9rem;
    font-size: 2rem;
  }

  .result-title {
    font-size: 3rem;
    width: 31rem;
  }

  .stats {
    padding-top: 0.3rem;
    padding-left: 1rem;
  }

  .stats > p {
    line-height: 2rem;
    font-size: 1.2rem;
    padding-left: 0;
  }

  .result-row3 {
    margin: 3rem 0;
  }

  .result-row3 > button {
    margin: 0 2rem;
  }

  .search-reset {
    padding: 1rem 2rem;
    font-size: 1.7rem;
  }

  .add {
    font-size: 1.7rem;
    padding: 1rem 2rem;
  }

  .remove {
    border: 0.2rem solid red;
  }

  .collection-header {
    font-size: 1.4rem;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0;
  }

  .collection-header > h1 {
    font-size: 3.5rem;
    margin-bottom: 0.67em;
  }

  #sort {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    padding: 0.3rem 1rem;
  }

  .pokemon-entry {
    flex-basis: 20%;
    border: 0.2rem solid black;
    margin: 1rem;
  }

  .pokemon-entry:hover {
    transform: scale(1.1);
  }

  .pokemon-entry > h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .collection-options {
    gap: 2rem;
  }

  #collection-container > p {
    font-size: 1.5rem;
  }

  #total-mobile {
    display: none;
  }

  #total-desktop {
    display: flex;
    font-size: 1.5rem;
  }

  .big {
    transform: scale(1.1);
  }

  .pokemon-name {
    width: 16rem;
    margin: 0 1rem;
  }

  .notification {
    height: revert;
  }
}

@media screen and (min-width: 1920px) {
  .collection-header {
    margin: auto;
    width: 121rem;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: red red red transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77vh;
}
